.mainbudget {
  flex: 70%; 
  background-color: white; 
  background-image: url("https://cdn.pixabay.com/photo/2018/01/30/22/50/forest-3119826_960_720.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}
* {
  box-sizing: border-box;
}

.rowbudget {
  padding: 20px;
  color: white;
  display: grid;
  grid-template-columns: 20% 40%;
  
} 
.inputsDiv{
  margin: 5px;
}

.resultDiv {
  margin: 5px;
}

ul {
  color: white;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.expencesDiv {
  position: relative;
  margin-left: 60%;
  float: right;
  text-align: center;
}

.budgetInput {
  width: 100%;
  padding: 10px;
  border: none;
  background: #f1f1f1;
  opacity: 50%;
}
.budgetButton{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: #f1f1f1;
}
.budgetInput:focus {
  background-color: #ddd;
  outline: none;
} 


@media screen and (max-width: 600px) {
    .rowbudget {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  } 