.mainbudget {
  flex: 70%; 
  background-color: white; 
  background-image: url("https://cdn.pixabay.com/photo/2015/06/08/15/11/typewriter-801921_960_720.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.rowbudget {
  padding: 20px;
}  

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }


/* Clear floats after the columns */
.rowbudget:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
    

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }