.parent {
    display: grid;    
    place-items: center;
    height: 60vh;
    text-shadow: 1px 1px black;
    padding: 20px;
}

.mainmiddag {
    flex: 70%; 
    background-image: url("https://cdn.pixabay.com/photo/2017/11/08/22/18/spaghetti-2931846_960_720.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white; 
    height: 100vh;
  }


#rulletDiv {
    background-color: #333;
    color: white;
    padding: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vh; 
    cursor: pointer; 
    border: none;
    text-shadow: 1px 1px black;
    border-radius: 10px;
}

#rulletDiv:hover,
#rulletDiv:focus {
    background-color: #c8c3cc;
    color: #333;
    text-shadow: 1px 1px black;
}

#suggestionDiv {
    color: white;
    padding: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vh; 
    text-shadow: 1px 1px black;
    text-align-last: center;
}

#addField {
    border-top: solid #563f46;
}

#foodSuggestions {
    background-color: #333;
    color: white;
    font-size: 14px;
    text-shadow: 2px 2px black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#registerButton {
    background-color: #333;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-shadow: 1px 1px black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

