.parent {
    display: grid;    
    background-color: #8ca3a3;
    color: #563f46;
    border: solid #563f46;
    height: 50vh;
    width: 100vh;
    text-shadow: 1px 1px black;
    place-items: center;
}

#rulletDiv {
    background-color: #563f46;
    color: white;
    padding: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vh; 
    cursor: pointer; 
    border: none;
    text-shadow: 1px 1px black;
    border-radius: 10px;
}

#rulletDiv:hover,
#rulletDiv:focus {
    background-color: #c8c3cc;
    color: #563f46;
    text-shadow: 1px 1px black;
}

#suggestionDiv {
    color: #563f46;
    padding: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vh; 
    text-shadow: 1px 1px black;
    text-align-last: center;
}

#addField {
    border-top: solid #563f46;
}

#foodSuggestions {
    background-color: #484f4f;
    color: white;
    font-size: 14px;
    text-shadow: 2px 2px black;
    padding: 5px;
    border-radius: 5px;
}

#registerButton {
    background-color: #484f4f;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-shadow: 1px 1px black;
    padding: 5px 10px;
    border-radius: 5px;
    /* width: 30vh; */
}

